# next-auth
AUTH_SECRET = 12345
# Strava
AUTH_STRAVA_ID = 12345
AUTH_STRAVA_SECRET = abc123456
# website
NEXT_PUBLIC_GETEWAY_URL = http://localhost:3000
# AMap
NEXT_PUBLIC_AMAP_KEY = 12345abc
NEXT_PUBLIC_AMAP_SECURITY_JS_CODE = abc123456